[submodule "external/zsh/oh-my-zsh"]
	path = external/zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "external/zsh/plugins/zsh-syntax-highlighting"]
	path = external/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "external/zsh/plugins/zsh-autosuggestions"]
	path = external/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
