{BasedOnStyle: Google, IndentWidth: 4, UseTab: Never, ColumnLimit: 0, BreakBeforeBraces: Attach, Cpp11BracedListStyle: false, IncludeBlocks: Regroup, IndentAccessModifiers: false, IndentCaseLabels: false}
